
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.bg-primary {
    background-color: #A3C8F0 !important; 
}

.text-primary {
    color: #4A90E2 !important; 
}

.nav-link {
    color: white !important;
}

footer {
    background-color: #4A90E2; 
}

.btn-primary {
    background-color: #A3C8F0 !important;
    border-color: #4A90E2;
}

.btn-primary:hover {
    background-color: #4A90E2 !important;
    border-color: #A3C8F0;
}
